.npm/
go/
projects/
secrets/
knowledge/
.opencode-mem/
.local/share/
.local/state/
.dotfiles/
.gnupg/
.local/bin/mise
.pki/
.ssh/id_*
.ssh/known_hosts*
.config/vesktop/
!.config/vesktop/settings/settings.json
.config/google-chrome/
.config/Code - OSS/
