@import "themes/mocha.css";

* {
  font-family: Fira Sans, "FiraCode Nerd Font Propo", sans-serif;
  font-size: 14px;
  min-height: 0;
  border: none;
  box-shadow: none;
}

#waybar {
  background: transparent;
  color: @text;
}

/* Tooltips */
tooltip {
  background: @base;
  border: 2px solid @mauve;
  border-radius: 8px;
}
tooltip label {
  color: @text;
}

/* Pill grouping setup */
#workspaces,
#window,
#cpu,
#memory,
#disk,
#clock,
#pulseaudio,
#network,
#bluetooth,
#battery,
#backlight,
#tray,
#custom-appmenu,
#custom-notification {
  background-color: @surface0;
  padding: 0.5rem 0.5rem;
  margin: 5px 0;
}

#custom-sep {
  background-color: @surface0;
  color: @overlay0;
  padding: 0.5rem 0px;
  font-size: 16px;
  margin: 5px 0;
}
/* Left Group */
#custom-appmenu {
  color: @blue;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 10px;
}
#workspaces {
  border-radius: 0;
  padding: 0;
}
#workspaces button {
  color: @lavender;
  border-radius: 0;
  padding: 0.1rem 0.5rem;
  margin: 0;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in-out;
}
#workspaces button.active {
  color: @sky;
  background-color: @surface1;
  border-bottom: 2px solid @sky;
}
#workspaces button:hover {
  color: @sapphire;
  background-color: @surface2;
  border-bottom: 2px solid @sapphire;
}
#window {
  color: @text;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 10px;
}

/* Center Group */
#cpu {
  color: @mauve;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 10px;
}
#memory {
  color: @pink;
  border-radius: 0;
}
#disk {
  color: @flamingo;
  border-radius: 0;
}

/* Right Group */
#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 10px;
}
#network {
  color: @green;
  border-radius: 0;
}
#bluetooth {
  color: @yellow;
  border-radius: 0;
}
#battery {
  color: @green;
  border-radius: 0;
}
#battery.charging {
  color: @green;
}
#battery.warning:not(.charging) {
  color: @red;
}
#backlight {
  color: @teal;
  border-radius: 0;
}
#clock {
  color: @blue;
  border-radius: 0;
}
#tray {
  border-radius: 0;
  padding: 0.5rem;
}
#custom-notification {
  color: @lavender;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 10px;
}
